.mentorcardcomp {
  img {
    width: 100%;
    height: 25em;
    object-fit: cover;
    margin-bottom: 2em;
  }
  h3 {
    font: bold 3em 'Rubik';
    margin: 0;
    margin-bottom: 0.5em;
    color: #21de86;
    margin-top: 0.5em;
  }
  p {
    color: white;
  }
  .btn-wraps {
    transform: scale(0);
    display: flex;
    justify-content: space-between;
    width: 7em;
    .arrows {
      cursor: pointer;
    }
  }
}

.not-in-view {
  opacity: 0.3;
}

.in-view {
  .btn-wraps {
    transform: scale(1);
    display: flex;
  }
}
