.our-mentors {
  padding: 2em 0 4em;
  overflow: hidden;
  background-color: #000c2d;
  position: relative;
  h2 {
    font: bold 4em 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 1em 0;
    text-align: center;
  }
  .second-grid-layout {
    width: 144%;
    display: grid;
    transform: translateX(-15.5%);
    grid-template-columns: 31% 31% 31%;
    grid-column-gap: 3.5%;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25%;
    background-color: #000c2d8e;
    left: 0;
    z-index: 100;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25%;
    background-color: #000c2d8e;
    right: 0;
    z-index: 100;
  }
}
