@import '../../media.scss';

.article-comp {
  margin-left: 2em;
  border-top: 1px solid black;
  padding: 1.5em 0;

  h5 {
    margin: 0.8em 0;
    font-size: 2em;
    font-weight: 400;
    width: 80%;
  }
  .article-btn {
    padding: 3em 1em;
  }

  @include for-size(smaller-desktop) {
    font-size: 0.9em;
  }

  @include for-size(wide-tab) {
    font-size: 0.8em;
  }

  // @include for-size(tablet-landscape-up) {
  // }

  // @include for-size(phone-only) {
  // }
}
