@import '../../../media.scss';

.landing-section {
  background-color: #000c2d;
  padding: 0 3%;
  .content-section {
    .content {
      width: 45%;
      padding: 3em 0;
      p {
        font-size: 1.3em;
        color: white;
        margin: 0;
        font-weight: 400;
        line-height: 1.5em;
      }
      h2 {
        color: white;
        margin: 0.5em 0;
        font-size: 3em;
        line-height: 1.5em;
        font-family: 'Vollkorn';
      }
      .down-arrow {
        display: block;
        margin-top: 2em;
      }
    }
    .img-wrap {
      justify-content: flex-end;
      width: 48%;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
    @include for-size(tablet-landscape-up) {
      font-size: 0.8em;
      flex-direction: column;
      .content,
      .img-wrap {
        width: 100%;
        margin: 0 auto;
        img {
          height: 50em;
        }
      }
    }
  }
  @include for-size(wide-tab) {
    font-size: 0.8em;
  }
  @include for-size(smaller-desktop) {
    font-size: 0.9em;
  }
}
