body {
    background-color: rgb(7, 1, 27);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main h1 {
    color: white;
    font-family: monospace;
    font-size: 4em;
}