.gridcontainer {
  margin-top: 4em;
  padding: 0.5em;
  overflow-x: hidden;

  .grid-layout {
    display: grid;
    transition-property: transform;
    transition-timing-function: ease;
    transition-duration: 0.3s;
  }

  .no-transition {
    transition-duration: 0s !important;
  }
}
